.lang {
  margin-top: 28px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.characters__title {
  margin-top: 76px;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.characters__title span {
  font-weight: 800;
}

.characters__filter {
  margin-top: 60px;
}

.characters__filter span {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  margin-right: 18px;
}

.characters__filter select {
  background: #f2f2f2;
  /* Filter */

  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
  border-radius: 4px;
}

option {
  background: #f2f2f2;
  /* Filter */

  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
  border-radius: 4px;
}

.characters__content {
  display: grid;
  grid-template: ". . . .";
  align-items: center;
  justify-content: space-between;
  gap: 25px 15px;
}

@media (max-width: 1024px) {
  .characters__content {
    display: grid;
    grid-template: ". . .";
    align-items: center;
    justify-content: space-between;
    gap: 15px 10px;
  }
}

@media (max-width: 768px) {
  .characters__content {
    display: grid;
    grid-template: ". .";
    align-items: center;
    justify-content: space-between;
    gap: 10px 5px;
  }
}

@media (max-width: 480px) {
  .characters__content {
    display: grid;
    grid-template: ".";
    align-items: center;
    justify-content: center;
    gap: 10px 5px;
  }
}
